.homeWrapper {
    background-color: #1FAABF;
    padding:15px;
}

.homeHeading {
    color:white;
    text-align: center;
    margin:80px;
}

.homeGridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:120px;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;    
}

.homeGridWrapper div {
    color:white;
    text-align:left;
    margin-bottom: 5rem;
}

.image {
    width:30em;
}