.skillsBtn {
    font-size: 0.8em;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid #adbac7;
    border-radius: 20px;
    background-color: #444c56;
    padding: 3px 15px;
    color: #adbac7;
    font-weight: 300;
    &:active{
        background-color: #dfe8f1;
        color: #1c1c1c;
    }
    margin: 4px 4px;
}