.cardWrapper {
    width: 100%;
    padding: 20px 40px;
    border: 2px solid #adbac7;
    background-color: #444c56;
    color: #adbac7;
    margin-bottom: 1rem;
    a{
        text-decoration: none;
        color: #adbac7;
        &:hover{
            color: #dfe8f1;
        }
    }
}